.flex-container {
    margin:0;
    padding:0;
    display: flex;
    list-style: none;

}
.flex-item {
    background: blue ;
    height: 100px;
    width: 100px;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 5px;
    
}
#letra_baixo li{
    background: black ;
    height: 100px;
    width: 100px;
    line-height: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 5px;}
.row {
    flex-direction: row;
}
.row-reverse{
    flex-direction:  row-reverse;
}
.row-reverse li{
    background-color: red;
}
.column{
    float:left;
    flex-direction: column;
}
.column li {
    background-color: green;
}
.column-reverse{
    float: right;
    flex-direction: column-reverse;
}
.column-reverse li{
    background-color: orange;
}